[Unit]
Description=Rainie Station Web Service
After=network.target

[Service]
User=charles
# 假设你在树莓派上的目录名也改为了 rainie-station
WorkingDirectory=/root/rainie-station
Environment="PATH=/root/rainie-station/venv/bin"
ExecStart=/root/rainie-station/venv/bin/python /home/charles/rainie-station/app.py
Restart=always
RestartSec=2
# 确保 logs 目录存在
StandardOutput=append:/root/rainie-station/logs/web.log
StandardError=append:/root/rainie-station/logs/web.log

[Install]
WantedBy=multi-user.target